/* src/App.css */

.App {
  text-align: center;
  padding: 20px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.animation1{
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function : ease-in-out;
  transition-delay : 0.5s;
}
.animation1:hover{
  color : darkgreen;
}